  .menu .text{
    font-size: 1.1rem;
    margin-bottom: 50px;
  }
  .name{
    display: flex;
    flex-direction: column;
    
  }
  .name input{
    outline: none;
    border: none;
    padding: 8px ;
    width: 200px;
    height: 1.5rem;
    font-size: 1.1rem;
    border-bottom: 2px solid black;
    color: black;
    margin-bottom: 50px;
  }
  .name input::placeholder{
    color: black;
  }
  .name span{
    font-size: 1.2rem;
    color: purple;
  }
  /* .action-button button{
    position: absolute;
    bottom: 10%;
    right: 8%;
    width: 150px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: purple;
  } */