.select-options{
    display:flex;
    flex-direction:column;
}
.select-options button{
    padding:12px;
    margin: 5px 0 25px;
    background:none;
    border:none;
    font-size:1.4rem;
    cursor:pointer;
    border-radius: 20px;
    transition:.1s ease-in;

}
.select-options button:hover{
    box-shadow: 1px 2px 5px 1px rgba(134, 134, 134, 0.459);
    transform:scale(.9)
}
.select-options button span{
    margin-right:10px
}
.select-options i{
    color:purple;
}
.category .action-button button{
  bottom: 5%;
  right: 5%;
} 